Notas/
backend/*/*/core/gemma-3n-E4B-it-Q4_K_M.gguf
backend/db.sqlite3
.env
frontend/front/.env
backend/*/__pycache__
backend/*/*/__pycache__
backend/*/*/*/__pycache__

manual/*.out
manual/*.fls
manual/*.aux
manual/*.fdb_latexmk
manual/*.log
manual/*.synctex.gz