Notas/
backend/*/*/core/Meta-Llama-3.1-8B-Instruct-Q3_K_S.gguf
backend/db.sqlite3
.env
frontend/front/.env
backend/*/__pycache__
backend/*/*/__pycache__
backend/*/*/*/__pycache__
backend/*/*/*/*/__pycache__
backend/apps/*/migrations/
backend/services/chat/vector_store/
backend/.pytest_cache
backend/.coverage

*/__pycache__
manual/*.toc
manual/*.out
manual/*.fls
manual/*.aux
manual/*.fdb_latexmk
manual/*.log
manual/*.synctex.gz