Notas/

# Python
backend/*/*/core/Meta-Llama-3.1-8B-Instruct-Q3_K_S.gguf
backend/db.sqlite3
backend/*/__pycache__
backend/*/*/__pycache__
backend/*/*/*/__pycache__
backend/*/*/*/*/__pycache__
backend/apps/*/migrations/
backend/services/chat/vector_store/
backend/.pytest_cache
backend/.coverage
*/__pycache__

# LaTeX
manual/*.toc
manual/*.out
manual/*.fls
manual/*.aux
manual/*.fdb_latexmk
manual/*.log
manual/*.synctex.gz

# Nix
.direnv/
result

# Environment
.venv
.env
frontend/front/.env

# Node
*/front/node_modules